<div>
  <div>
    <h2>Products table</h2>
    <input type="text" placeholder="Search.." [(ngModel)]="keyword" />
    <button (click)="getProductsByKeyword()">Go!</button>
    <button (click)="getProductsByAvgRatingAsc()">
      sort by average rating up
    </button>
    <button (click)="getProductsByAvgRatingDesc()">
      sort by average rating down
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Ratings</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <div *ngFor="let rating of product.ratings">
          <div>{{ rating }}</div>
        </div>
        <td>{{ product.createdOn | date }}</td>
        <td>
          <button (click)="toggleEditForm(product)">Edit</button>
          <button (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="toggleProductForm()">Create Product</button>

  <div *ngIf="showProductForm">
    <h2>Product Form</h2>
    <form (ngSubmit)="createProduct()">
      <div>
        <label for="name">Name: </label>
        <input
          type="text"
          name="name"
          id="name"
          [(ngModel)]="product.name"
          required
        />
      </div>
      <div>
        <label for="description">Description: </label>
        <input
          type="text"
          name="description"
          id="description"
          [(ngModel)]="product.description"
          required
        />
      </div>
      <div>
        <label for="name">Rating: </label>
        <input
          type="text"
          name="ratings"
          id="ratings"
          [(ngModel)]="product.ratings"
          required
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div *ngIf="showEditForm">
    <h2>Product Form</h2>
    <form (ngSubmit)="editProduct(editedProduct, editedProduct.id)">
      <div>
        <label for="name">Name: </label>
        <input
          type="text"
          name="name"
          id="name"
          [(ngModel)]="editedProduct.name"
          required
        />
      </div>
      <div>
        <label for="description">Description: </label>
        <input
          type="text"
          name="description"
          id="description"
          [(ngModel)]="editedProduct.description"
          required
        />
      </div>
      <div>
        <label for="name">Ratings: </label>
        <input
          type="text"
          name="ratings"
          id="ratings"
          [(ngModel)]="editedProduct.ratings"
          required
        />
      </div>
      <button type="submit">Edit Product!</button>
    </form>
  </div>
</div>

<app-stores></app-stores>